<div class="card">
  @for (item of items; track item.uid) {
    <app-item [order]="$index + 1" [uid]="item.uid" [task]="item.task" [completed]="item.completed"
              (doSetCompleted) = "save($event)" (doSave)="save($event)"
              (doLift)="raise(item.uid)" (doDrop)="lower(item.uid)"
              (doRemove)="remove(item.uid)" />
  }

  @if(!isAdding) {
    <div class="right-align">
      <button id="doAdd" (click)="displayAdder()">+</button>
    </div>
  }
  @else {
    <app-new-item (doSave)="add($event)" (doCancel)="hideAdder()"></app-new-item>
  }
</div>
