<div class="card">
  <div class="grid">
    <div style="grid-column: 1/1" class="low">
      <input type="checkbox" [(ngModel)]="completed" (change)="setCompleted()">
      &nbsp; {{ order }}: &nbsp;

      @if (isEditing) {
        <textarea name="task" id="task-textarea" cols="50" rows="1" placeholder="Add task here." [(ngModel)]="task"></textarea>
      }
      @else {
        <span id="task-span">{{ task }}</span>
      }
    </div>

    <div style="grid-column: 2/2" class="button-band">
      <button id="editOrSave" (click)="editOrSave()">{{ !isEditing ? "\u270D" : "\u21A9" }}</button>
      <button id="shiftUp" (click)="doLift.emit()">&uarr;</button>
      <button id="shiftDown" (click)="doDrop.emit()">&darr;</button>
      <button id="remove" (click)="doRemove.emit()">&#x2613;</button>
    </div>
  </div>
</div>
